body{
    background-color: #b8b8b8;
}

.content-section {
    background-color: #dadada;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.form{
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}