{% extends "base.html" %}

{% block search %}
    <form class="form-inline" method="POST">
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.search(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block content %}
    <div class="container mt-3" style="max-width: 600px;">
    {% if not departments %}
        <p class="text-center">There are currently no departments.</p>
    {% else %}
    {% for department in departments %}
        <div style="float: right">
            {% if 'token' in session %}
                {% if session['role_id'] == ADMIN_ROLE_ID %}
                    <a class="btn btn-primary"
                        href="/admin/department/edit/?id={{ department[0]['id'] }}&url=%2Fadmin%2Fdepartment%2F">
                        Edit
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <a class="text-dark" href="{{ url_for('general.department_page', department_id=department[0]['id']) }}"
           style="text-decoration: none">
            <div class="content-section d-flex justify-content-between"
                 style="min-width: 200px;">
                <div>Title: {{ department[0]['title'] }}</div>
                <div>Avg. salary: {{ department[1] }}$</div>
            </div>
        </a>
    {% endfor %}
    {% endif %}
    </div>

{% endblock %}
