{% extends "base.html" %}

{% block content %}
    {% for employee in employees %}
        <a class="text-dark" href="{{ url_for('general.employee_page', employee_id=employee.id) }}" style="text-decoration: none">
            <div class="content-section d-flex justify-content-between"
                 style="min-width: 200px; position: relative; overflow: auto;">
                <div>{{ employee.firstname }}</div>
                <div>{{ employee.lastname }}</div>
            </div>
            {% if current_user.__class__.__name__ != 'AnonymousUserMixin' %}
                {% if current_user.role.id == 4 %}
                    <a class="btn btn-primary" href="/admin/employee/edit/?id={{ employee.id }}&url=%2Fadmin%2Fdepartment%2F">
                        Edit
                    </a>
                {% endif %}
            {% else %}
            {% endif %}
        </a>
    {% endfor %}
{% endblock %}