{% extends "base.html" %}

{% block content %}
    <div class="form content-section container mt-3">
        <div class="text-center form-group">
            <label style="font-size: 24px">
                Fill the request
            </label>
        </div>
        <div class="border-top pt-3">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.change_department.label(class="form-control-label") }}
                        {% if form.change_department.errors %}
                            {{ form.change_department(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.change_department.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.change_department(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.increase_salary.label(class="form-control-label") }}
                        {% if form.increase_salary.errors %}
                            {{ form.increase_salary(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.increase_salary.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.increase_salary(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}